@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

:root {
    box-sizing: border-box;
    color: #5f6ba0;
    --words: #5f9ea0;
    font-family: Titillium web;
    background-image: linear-gradient( #cdfdff, #fff); 
}



/* .scorebar{
    background-color: black;
    color: chartreuse;
    display: flex;
    flex-direction: row;
    justify-content: start;
    max-height: 80%;
    max-width: 10%;
    margin: 10px;
    padding: 10px;
} */

.score{
    display: none;
}


.timer {
    display: flex;
    justify-content: end;
    flex: wrap;
    margin-right: 10px;
    
}

.choice-container{
    background:rgb(214, 167, 199) ;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 80%;
    border-radius: 4px;
    max-height: 80%;
    max-width: 600px;
    margin-bottom: 10px;
    padding: 10px;
}

.choice-container:hover {
    cursor: grab;
    box-shadow: 0 5px 10px 0 var(--words) ;
    transform: scale(1.02);
    transform: transform 100ms;
}

.aChoice {
    padding: 25px;
    color: #000;    
}

.choice-text {
    padding: 10px;
    width:100%;
}

.correct {
    background: linear-gradient(45deg, rgb(82, 223, 53) 0%,  rgb(97, 228, 71) 100%);
}

.incorrect {
    background: linear-gradient(45deg, rgb(202, 91, 91) 0%,  rgb(238, 61, 61) 100%);
}


#disp {
    display: flex;
    justify-content: space-between;
}

/* basic overlap */

h1 {
    color: #0e1818;
    margin-bottom: 60px;
    font-size: 30px;
}

h2 {

    margin-bottom: 35px;
}



.container {   
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0%;
    padding: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-centre {
    justify-content: center;
    align-items: center;
}

.justify-centre {
    justify-content: center;
}

.text-centre {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    margin: 10px;
    padding: 10px;
    color:#721f10;
    background: #073763;
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
    box-shadow:0 5px 10px 0 #631515;
    transition: transform 150ms;
    transform: scale(1.05);
}

.btn[disabled]:hover {

}


#highscore-btn {
    background: #e0c215
}

#highscore-btn:hover {
    box-shadow:0 5px 10px 0 #631515;
}


/* end basic overlap */

.footer {
    display: flex;
    flex:wrap;
    flex-direction: column;
    justify-content: center;
    max-height: 10%;
    max-width: 100%;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

/* This is the End page */

.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60px;
    box-shadow: 0 5px 10px 0 var(--words);
}

input {
    margin-bottom: 15px;
    width: 60px;
    padding: 20px;
    font-size: 25px;
    box-shadow: 0 4px 15px 0 #073763;

}

input::placeholder {
    color: navy;
}

#username {
    margin-bottom: 15px;
    width: 100%;
    outline: none;
}

#end-text {
    font-size: 25px;
    color: rgb(24, 16, 1);
    text-align: center;
    flex: wrap;
}

#saveScoreBtn {
    border: none;

}

@media screen and (max-width: 992px) { 
    .choice-container{
        min-width: 400px
    }
}


@media screen and (max-width: 768px) { 
    .choice-container{
        min-width: 400px
    }
}